.navbar{
    width:100%;
    height:9vh;
      background-color:white;
   position: sticky;
   top:0;
   z-index: 200;

}
.navbar-left-icon-profile{
    width:5rem;
    height:3.5rem; 
    background-color:white;
    border-radius: 30px;
    transition: ease-in-out 0.5s;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-logo{

   height:70px;

}



.navbar-left-icon-plus{
    color: rgba(86, 85, 85, 0.73);
    font-size:2.5rem;
   transition: all 0.5s;
  
   
   
}
.navbar-left-icon-plus:hover{
    transform: rotate(180deg);
    color:rgb(37, 37, 37);
}
.navbar-left-icon-search{
    color: rgba(86, 85, 85, 0.73);
    font-size:2rem;
   transition: all 0.5s;
   
   
}
.navbar-left-icon-search:hover{
    transform: rotate(80deg);
   
    color:rgb(37, 37, 37);
}


.navbar-left-item{

    cursor: pointer;
    color:white;
    transition: ease-in-out ;
    font-size: 1.2rem;
}

.navbar-left-item:hover{
    border-bottom:1px solid white;
    
}
.navbar-middle{
    position: absolute;
    left:50%;
    top:30%;
    translate: -50%;
   
}
.navbar-middle-item{


 cursor: pointer;
 font-weight: 400;
 transition: all ease-in-out  0.3s;
 font-size: 1.3rem;
}
.navbar-middle-item:hover{
    border-bottom:2px solid rgb(46, 49, 64);

}
.right-menu{
    display: none;
}
.menu-icon{
    font-size:2rem;
    color: black;
}
.menu-list{
    display: none;
}
.right-menu:hover > .menu-list{
    position: absolute;
    display: flex;
    gap:7px;
  align-items: center;
    flex-direction: column;
    padding:1rem;
    background-color:white;
}
.menu-item{
      font-size: 1.2rem;
      color:black;

      transition: all ease-in-out 0.2s;
}
.menu-item:hover{
     color:rgba(196, 114, 255, 0.961);
     font-weight: 400;
     scale: 1.2;
    
}
@media  screen and (max-width:750px) {
   .navbar-middle{
    display: none;
   }
   .right-menu{
    display: block;
   }
   
}
